.title {
    font-size: 25px;
    text-align: center;

}

.mainCont {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    text-align: center;
}

.row1,
.row2,
.row3 {
    height: 100px;
    width: 300px;
}


.box {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    font-size: 50px;
    border-width: 0px;
    border-color: black;
    border: none;
    position: fixed;
    left: 0%;
}

.second {
    left: 100px;
}

.third {
    left: 200px;
}

input:button {
    text-align: center;
    border: outset;
    background-color: white;
    -webkit-appearance: none;

}

.bottom {
    border-bottom: solid;
}

.right {
    border-right: solid;
}

.left {
    border-left: solid;
}
