.title {
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

}

.mainCont {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    text-align: center;
    background-color: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;

}

body {
    background-color: dimgray;
}

.row1,
.row2,
.row3 {
    height: 100px;
    width: 300px;
}


.box {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    font-size: 50px;
    border-width: 0px;
    border: none;
    border-radius: 0;
    position: fixed;
    left: 0%;
    background-color: dimgray;
    color: white;
    -webkit-appearance: none;
}

input:submit {
    shape-outside: border-box;
    -webkit-appearance: none;
}

.second {
    left: 100px;
}

.third {
    left: 200px;
}

.reset {
    background-color: dimgray;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: white;
    color: white;


}

.reset:hover {
    background-color: white;
    color: dimgray;
}

.bottom {
    border-bottom: solid;
}

.right {
    border-right: solid;
}

.left {
    border-left: solid;
}
